body {
  background-color: #002F2F;
  font-family: 'Droid Sans', sans-serif;
}
#container {
  width: 900px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: .25em;
 overflow:hidden

}
header {
  text-align: center;
}
.center {
  text-align: center;

}
#kittenOne {
  margin: 8px;

}
#kittenTwo {
  margin: 8px;
}
#imgOne {
  margin: 5px;
  float: left;
}
#imgTwo {
  margin: 5px;
  float: left;
}

#kittenChart {
  float: right;
}
#newGame {
}
#myChart {

}
